@model IEnumerable<Product>
<div>
	<style>
		.custom-hover:hover {
			opacity: 0.8;	/*Thuộc tính này được sử dụng để thay đổi độ mờ*/
			transform: scale(1.1);	/*Thuộc tính này cho phép bạn xoay, thu nhỏ hoặc phóng to hình ảnh khi trỏ chuột vào*/
			box-shadow: 0px 0px 10px rgba(0, 0, 0, 1); /*Thuộc tính này cho phép bạn thêm bóng đổ vào hình ảnh khi trỏ chuột vào*/
			transition: all 0.5s ease-in-out; /*Thuộc tính này cho phép bạn định cấu hình các hiệu ứng chuyển động khi hình ảnh thay đổi thuộc tính*/
		}
	</style>
</div>
<div class="row pb-3">
	@if (Model != null)
	{
		@foreach (var product in Model)
		{
			<div class="col-lg-3 col-md-6">
				<div class="row p-2">
					<div class="col-12 p-1" style="border: 1px solid #008cba; border-radius: 5px;">
						<img src="@product.ImageUrl" class="img-fluid rounded custom-hover" style="padding:10px">
						<div class="card" style="margin-top:10px">
							<div class="card-body">
								<div class="pl-1">
									<p class="card-title h5 text-primary">@product.Title</p>
									<p class="card-title text-info">by <b>@product.Author</b></p>
								</div>
								<div class="pl-1">
									<p>List Price: <strike><b>$@product.ListPrice.ToString("0.00")</b></strike></p>
								</div>
								<div class="pl-1">
									<p>As low as: <b>$@product.Price100.ToString("0.00")</b></p>
								</div>
							</div>
						</div>
						<div>
							<a asp-action="Details" asp-route-id="@product.Id" class="btn btn-primary bg-secondary form-control" >
								Details
							</a>
						</div>
					</div>
				</div>
			</div>
		}
	}
</div>