@model List<Category>
@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-6">
        <div class="col-6">
            <h2 class="text-primary">Category List</h2>
        </div>
        <div class="col-6">
            <a asp-controller="Category" asp-action="Create" class="btn btn-primary" style="background-color:antiquewhite">
                <i class="bi bi-plus-circle" style="color:black;font-weight:500"> Create New Category</i>
            </a>
        </div>
    </div>
</div>
<table class="table table-light table-striped" style="width:70%">
    <thead>
        <tr>
            <th>Name</th>
            <th>DisplayOrder</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td width="30%">@item.Name</td>
                <td>@item.DisplayOrder</td>
            </tr>
        }
    </tbody>
</table>
